body{
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size: 500%;
    margin: 0 auto 0 auto;
    padding-top: 50px;
    color: #66BFBF;
}

h2{
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 2;
}

h3{
    color: #11999E;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

p{
    line-height: 2;
}

hr.dotted-hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 60px auto;
}

.top-container{
    position: relative;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 55px 0 55px;
}


.top-pic{
    position: absolute;
    right: 300px;
    top: 100px;
}

.bottom-pic{
    position: absolute;
    left: 300px;
    top: 350px;
}


#top-section{
    background-color: #e0ebe8;
}

.image-border{
    margin-top: 50px;
}

.skill-row{
    width: 50%;
    margin: 50px auto 150px auto;
    text-align: left;

}

.code-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chilli-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.about-me-content{
    width: 30%;
    margin: auto;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    font-family: Arial;
    color: #696969;
    font-size: 20px;
    background: #11999E;
    padding: 12px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #189ca1;
    text-decoration: none;
}

.contact-me{
    margin-bottom: 40px;
}

.copyright-text{
    color:#EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

span.underlined{
    text-decoration: underline;
}

a.normalise{
    color: #EAF6F6;
    margin: 0;
}